In [ ]:
import pandas as pd
from datetime import datetime, timedelta

"""
- pipeline: 
  - transform data from utc+0 to utc+5 (dates - 12, 13, 14)
  - clear and transform data with params
  - merge dataframes
"""

In [13]:
df = pd.read_csv("./data/sensors_data_2024-12-11 21:00:00.csv")

df["date"] = pd.to_datetime(df["date"])

clean_data = df.copy()
clean_data = (
    df[
        (df['error'] == 0) & (df['status'] == 'active')
    ]
    .assign(
        date_hour=lambda df: df['date'].dt.hour,
        hour=lambda df: df.apply(
            lambda row: row['date_hour'] if row['hour'] == "now" else int(row['hour']), axis=1
        )
    )
    .dropna(subset=['AQI'])
    .assign(
        date=lambda df: df.apply(
            lambda row: (
                f"{row['hour']}:00 {row['date'].strftime('%d-%m-%Y')}" 
                if row['hour'] <= row['date_hour']
                else f"{row['hour']}:00 {(row['date'] - timedelta(days=1)).strftime('%d-%m-%Y')}"
            ), axis=1
        )
    )
)

In [19]:
clean_data.id.unique()

array([       6,        9,       12,       21,      108,      999,
           1001,     1002,  3218686,  3268769, 30929268, 31596906,
       31741503, 32009929, 32149779, 32567972, 34703847, 34759731,
       35013121, 35050725, 35093702, 35137762, 35276278, 35290859,
       35442311, 35656890, 35742416, 36143872, 36254881, 36386289,
       36958746, 37900026, 37913486, 37917495, 38716660, 39147532,
       39168240, 39685313])

In [21]:
clean_data.where(clean_data["id"] == 39685313).head()

,id,city,name,lat,lng,pm10,pm10ss,AQI,pm25,pm25ss,temp,tempss,humid,press,error,status,date,hour,date_hour
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
clean_data.where(clean_data["id"] == 6).count()

id           493
city         493
name         493
lat          493
lng          493
pm10         493
pm10ss       493
AQI          493
pm25         493
pm25ss       493
temp           0
tempss         0
humid          0
press          0
error        493
status       493
date         493
hour         493
date_hour    493
dtype: int64